*{
    box-sizing: border-box;
}

body{
    background-image: url("../images/embossed-diamond.png");
}

header {
    margin-bottom: 20px;
}

#name {
    background-color:#4aaaa5;
    height: 75%;
    text-align: center; 
    padding-bottom: 20px;
    
}

.navbar {
    padding: 0;
   
}

.navbar-nav {
    left: 10%;
    white-space: nowrap;
}

.nav-item {
    margin: 0 20px 0 20px;
}
.container {
    background-color: #ffffff;
    width: 90%;
    margin: 50px 100px 50px 20px;
    border-color: #dddddd;
    color: #777777;
    padding: 20px 20px;
}

hr {
    height: 1px;
    border: 10px;
    border-top: 1px solid #ccc;
    margin-left: 15px;
    padding-left: 0;
}

#me {
    margin: 0 100px;
}

.pic-container {
    margin: 10px;   
}

#widget {
    height: 179px;
}

.card {
    margin: 0 20px;
}
.card-body {
    background-color: #4aaaa5; 
    color: #fff;
    text-align: center;
    font-size: 25px;    
}
footer {
    background: #666666;
    width: 100%;
    height: 65px;
    bottom: 0;
    position: relative;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    padding: 15px 0;
    clear: both;
}